@import "variables.module.scss";
@import "mixins.module.scss";
@import "animations.module.scss";

.anim_button{
    .button{
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-radius: $border_radius;
        padding: 0px;
        cursor: pointer;
        color: $primary;
        border: 1px solid $primary;
        font-weight: 300;
        font-size: 14px;
        transition: all .3s ease;
        width: fit-content;       
        padding: 12px 18px;
        gap: 15px;
        &:hover{
            background-color: $primary_light;
            .icon{
                i{
                    display: inline-block;
                    position: relative;
                }
            }
        }
        span{
            //background-color: $btn_primary;
            border-bottom-left-radius: $border_radius;
            border-top-left-radius: $border_radius;
            display: flex;
        }
        .icon{
            //background-color: $btn_secondary;
            border-top-right-radius: $border_radius;
            border-bottom-right-radius: $border_radius;
            display: flex;
            @include mobile {
                aspect-ratio: unset;
            }
            i{
                transition: all .3s ease;
            }
            .secondary{
                display: none;
            }
        }
    }
}