@import "variables.module.scss";
@import "mixins.module.scss";
@import "animations.module.scss";

.contact__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    align-content: center;
    align-items: center;
    height: calc(100vh - 160px);
    @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
        height: unset;
        gap: 0;
    }
    .form__wrapper{
        background-color: $dark;
        border-radius: $b_radius;
        box-shadow: $box_shadow;
        padding: 20px;
        width: 50%;
        @include mobile {
            width: 100%;
        }
        .contact__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            background-color: $dark;
            .double__input{
                display: flex;
                width: 100%;
                gap: 10px;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                @include mobile {
                    flex-direction: column;
                    gap: 30px;
                }
                .textInput{
                    width: 50%;
                    @include mobile {
                        width: 100%;
                    }
                }
            }
            .textInput {
                width: 100%;
                height: 50px;
                position: relative;
                & .empty{
                    border-color: $error;
                }
                & .empty ~ label{
                    color: $error;
                }
                & .empty ~ span {
                    color: $error;
                }
                & .empty ~ div {
                    color: $error;
                    position: absolute;
                    bottom: -19px;
                    left: 2px;
                    display: flex;
                    font-family: $font-primary;
                    font-size: 11px;
                    font-weight: 300;
                }
                & input{
                    width: 100%;
                    height: 100%;
                    padding: 15px 30px 15px 15px;
                    border-radius: $b_radius;
                    border: 1px solid #fff;
                    outline: none;
                    z-index: 10;
                    position: relative;
                    background-color: transparent;
                    font-family: $font-primary;
                    font-weight: 300;
                    font-size: .9rem;
                    &::placeholder{
                        color: transparent;
                        opacity: 0;
                    }
                    &:focus {
                        border-color: $primary!important;
                        &::placeholder{
                            color: #fff;
                            opacity: 0.4;
                        }
                    }
                    &:hover {
                        border-color: $secondary;
                    }
                    &:hover ~ label {
                        color: #fff;
                    }
                    &:hover ~ span {
                        color: #fff;
                    }
                    &:focus + label {
                        color: $primary;
                        top: -62px;
                        font-size: 0.79rem;
                        z-index: 20;
                        @include mobile {
                            font-size: 0.75rem;
                        }
                    }
                    &:focus ~ span {
                        color: $primary;
                    }
                    &:focus ~ div {
                        display: none;
                    }
                    &:not(:placeholder-shown) + label {
                        top: -62px;
                        font-size: 0.79rem;
                        z-index: 20;
                        @include mobile {
                            font-size: 0.75rem;
                        }
                    }
                }
                div{
                    display: none;
                }
                label{
                    position: relative;
                    top: -35px;
                    background-color: $dark;
                    color: #fff;
                    padding: 0 0.4rem;
                    margin: 0 0.5rem;
                    transition: .1s ease-out;
                    transform-origin: left top;
                    font-size: .9rem;
                    z-index: 1;
                    font-family: $font-primary;
                    font-weight: 300;
                    @include mobile {
                        font-size: .85rem;
                    }
                }
                span{
                    position: absolute;
                    right: 0%;
                    top: 0%;
                    transform: translate(0%, 0%);
                    background-color: $dark;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    padding: 20px 15px 15px 15px;
                    color: #fff;
                    z-index: 5;
                }
            }
            .textareaInput {
                width: 100%;
                height: 150px;
                & textarea{
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    height: 100%;
                    max-height: 100%;
                    min-height: 100%;
                    padding: 15px;
                    border-radius: $b_radius;
                    border: 1px solid #fff;
                    outline: none;
                    z-index: 10;
                    position: relative;
                    background-color: transparent;
                    font-family: $font-primary;
                    font-weight: 300;
                    font-size: .9rem;
                    resize: none;
                    &::placeholder{
                        color: transparent;
                        opacity: 0;
                    }
                    &:focus {
                        border-color: $primary!important;
                        &::placeholder{
                            color: #fff;
                            opacity: 0.4;
                        }
                    }
                    &:hover {
                        border-color: $secondary;
                    }
                    &:focus + label {
                        color: $primary;
                        top: -162px;
                        font-size: 0.79rem;
                        z-index: 20;
                        @include mobile {
                            font-size: .75rem;
                        }
                    }
                    &:not(:placeholder-shown) + label {
                        top: -162px;
                        font-size: 0.79rem;
                        z-index: 20;
                        @include mobile {
                            font-size: .75rem;
                        }
                    }
                }
                label{
                    position: relative;
                    top: -135px;
                    background-color: $dark;
                    color: #fff;
                    padding: 0 0.4rem;
                    margin: 0 0.5rem;
                    transition: .1s ease-out;
                    transform-origin: left top;
                    font-size: .9rem;
                    z-index: 1;
                    font-family: $font-primary;
                    font-weight: 300;
                    @include mobile {
                        font-size: .85rem;
                    }
                }
            }
        }
    }
    .contact__text{
        width: 50%;
        color: #fff;
        margin-top: -5rem;
        @include mobile {
            margin-top: 0;
            width: 100%;
        }
        h1{
            color: #fff;
            font-family: $font-primary;
            font-weight: 300;
            margin-top: 0px;
        }
        span{
            text-align: justify;
            font-family: $font-primary;
            font-weight: 300;
            font-size: 1rem;
            @include mobile {
                font-size: 0.95rem;
                text-align: left;
                word-spacing: 0.1rem;
            }
        }
        .contact__list{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            gap: 15px;
            margin-top: 25px;
            @include mobile {
                margin-top: 10px;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 40px;
                row-gap: 0px;
                margin: 10px 0px 20px 0px;
            }
            li{
                border: 1px solid #fff;
                border-radius: $b_radius;
                transition: all .3s ease;
                @include mobile {
                    border: none;
                }
                a, div{
                    padding: 20px 0px 20px 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    gap: 15px;
                    transition: all .3s ease;
                    @include mobile {
                        padding: 10px 0px 10px 5px;
                    }
                    span{
                        @include mobile {
                            text-align: left;
                            font-size: 0.85rem;
                        }
                    }
                }
                a{
                    cursor: pointer;
                }
                div{
                    cursor: default;
                }
                &:hover{
                    border-color: $primary;
                    a, div{
                        color: $primary;
                    }
                }
            }
        }
    }
    .alert {
        div{
            display: flex;
            align-items: center;
            align-content: center;
            div:nth-child(1){
                display: none;
            }
            div:nth-child(2){
                letter-spacing: 0px;
                font-family: $font-primary;
                font-weight: 300;
                display: flex;
                align-items: center;
                align-content: center;
                i{
                    font-size: 19px;
                    margin-right: 12px;
                }
                
            }
            div:nth-child(3){
                padding-top: 0px;
            }
        }
    }
}