@import "variables.module.scss";
@import "mixins.module.scss";
@import "animations.module.scss";

.main{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
  padding-top: 90px;
  @include mobile {
    max-width: 100%;
    padding: 0 15px 0;
    padding-top: 90px;
  }
}
.home__block{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .scrolling{
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  .scroll__warpper{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include mobile {
      display: none;
    }
    .mouse{
      margin: 0 auto;
      background: linear-gradient(180deg, $primary 0%, $secondary 100%);
      background-size: auto;
      position: relative;
      width: 2rem;
      height: 3.2rem;
      border-radius: 10rem;
      background-size: 225%;
      animation: e 5s ease-out infinite;
      &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: $primary;
        width: .35rem;
        height: .35rem;
        border-radius: 10rem;
        animation: d 5s linear infinite;
      }
      &::before{
        width: 1.9rem;
        height: 3.1rem;
        background-color: $bg_primary;
        border-radius: 10rem;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    p{
      color: $primary;
      font-size: $font-primary;
    }
  }
  .content__wrapper{
    width: 100%;
    scroll-snap-type: y mandatory;  
  }
}