@import "variables.module.scss";
@import "mixins.module.scss";

.logo__block{
    @include mobile {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    img{
        height: 55px;
        transition: transform ease .3s;
        width: auto;
        @include mobile {
            height: 40px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }    
}