@import "animations.module.scss";
@import "variables.module.scss";
@import "mixins.module.scss";


.header{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100vh;
    z-index: 99;
    animation: header-move .8s forwards 2s;
    @include mobile { animation: header-move-mb .8s forwards 2s; }
}
.mobile__menu{
    display: none;
    @include mobile {
        display: block;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        animation: show-menu 1s forwards 2s;
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: 100%;
        }
        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: $primary;
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .ham6 .top {
            stroke-dasharray: 40 172;
        }
        .ham6 .middle {
            stroke-dasharray: 40 111;
        }
        .ham6 .bottom {
            stroke-dasharray: 40 172;
        }
        .ham6.active .top {
            stroke-dashoffset: -132px;
        }
        .ham6.active .middle {
            stroke-dashoffset: -71px;
        }
        .ham6.active .bottom {
            stroke-dashoffset: -132px;
        }
    }
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    background-color: $darck;
    @include mobile {
        height: 100vh;
        display: none;
        &.active {
            display: flex;
        }
    }
    .navbar__list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
        gap: 30px;
        list-style-type: none;
        @include mobile {
            flex-direction: column;
            justify-content: flex-start;
            padding: 2em;
        }
        .navbar__li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            gap: 10px;
            color: #fff;
            opacity: 0;
            top: -100px;
            position: relative;
            animation: menu-li .4s forwards;
            cursor: pointer;
            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    animation-delay: #{2.2 + ($i * .1)}s;
                }
            }
            @include mobile{
                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        animation-delay: #{($i * .1)}s;
                    }
                }
            }
            &:hover{
                color: $primary;
                a {
                    color: $primary;
                }
                a::after {
                    left: 0;
                    right: auto;
                    width: 100% !important;
                    display: block;
                }
            }
            a{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                gap: 10px;
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                padding: 3px 0px 3px 0px;
                &:hover {
                    color: $primary;
                }
            }
            a::after{
                content: "" !important;
                position: absolute !important;
                z-index: 2 !important;
                right: 0 !important;
                width: 0 !important;
                bottom: -5px;
                background: $primary;
                height: 1px;
                transition-property: width;
                transition-duration: .3s;
                transition-timing-function: ease-out;
            }
            a:hover::after {
                left: 0;
                right: auto;
                width: 100% !important;
                display: block;
            }
        }
        .translate {
            padding: 10px;
            border-radius: 6px;
            position: relative;
            top: 15px;
            height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            flex-direction: column;
            transition: all ease-in .3s;
            animation: none;
            opacity: 1;
            &.en{
                flex-direction: column-reverse;
            }
            .navbar__li{
                @include mobile {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                }
                div{
                    width: 25px;
                    aspect-ratio: 4/3;
                    border-radius: 3px;
                    position: relative;
                    top: -35px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease-in .3s;
                }
                button{
                    display: none;
                }
                &.current {
                    div{
                        position: relative;
                        top: 0px;
                        opacity: 1;
                        visibility: visible;
                        transition: all ease-in .3s;
                    } 
                    button{
                        @include mobile {
                            background-color: transparent;
                            color: #fff;
                            display: flex;
                            border: none;
                            &:active{
                                background-color: #1c2a3c;
                            }
                            &:focus{
                                background-color: #1c2a3c;
                            }
                        }
                    }
                }
            }
            &.open{
                @include mobile {
                    background-color: #1c2a3c;
                    transition: all ease-in .3s;
                    .navbar__li{
                        position: relative;
                        top: 10px;
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;
                        div{
                            position: relative;
                            top: 0px;
                            opacity: 1;
                            visibility: visible;
                            transition: all ease-in .3s;
                        }
                    }
                }
            }
            &:hover{
                background-color: #1c2a3c;
                transition: all ease-in .3s;
                .navbar__li{
                    position: relative;
                    top: 10px;
                    div{
                        position: relative;
                        top: 0px;
                        opacity: 1;
                        visibility: visible;
                        transition: all ease-in .3s;
                    }
                }
            }
        }
    } 
}

.dev_mode{
    position: absolute;
    top: 0;
    right: 10vh;
    background-color: $primary;
    height: 50px;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
        right: 5vh;
    }
    i{
        font-size: 18px;
        color: $darck;
        margin-top: 10px;
        position: relative;
        z-index: 10;
    }
    &::after{
        content: "";
        background-color: #00FFC3;
        border-width: 18px;
        border-style: solid;
        border-color: #00FFC3 #00FFC3 #1e2d40 #00FFC3;
        position: absolute;
        top: 55%;
        margin-top: -5px;
    }
}