@import "variables.module.scss";
@import "mixins.module.scss";
@import "animations.module.scss";

.header{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    background-color: $bg_primary;
    z-index: 99;
    @include mobile {
        max-width: 100%;
        padding: 0 15px;
    }
}
.nav__wrapper{
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    gap: 20px;
    @include mobile {
        flex-direction: row;
        justify-content: flex-end;
        gap: 25px;
    }
    .cv__button{
        @include mobile {
            order: 1;
            div{
                a{
                    &:before{
                        content: "CV";
                        background-color: $btn_primary;
                        padding: 9px;
                        border-bottom-left-radius: $b_radius;
                        border-top-left-radius: $b_radius;
                        display: block;
                    }
                    div{
                        height: unset !important;
                        padding: 9px !important;
                    }
                    span{
                        display: none;
                        
                    }
                }
            }
        }
    }
    .open__menu{
        display: none;
        @include mobile {
            display: block;
            background-color: $btn_primary;
            color: #fff;
            font-size: 22px;
            width: 35px;
            aspect-ratio: 1/1;
            border-radius: $b_radius;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border: 1px solid transparent;
            order: 2;
        }
    }
    .navbar{
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        @include mobile {
            height: 0px;
            width: 0px;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            right: 75px;
            top: 75px;
            transition: all 0.3s ease-in-out;
        }
        &.opened_menu{
            @include mobile {
                height: 230px;
                width: fit-content;
                visibility: visible;
                opacity: 1;
                background: $bg_primary;
                padding: 15px;
                margin: -15px;
                border-radius: $b_radius;
                .navbar__list{
                    flex-direction: column;
                    .navbar__li {
                        background-color: $btn_primary;
                        height: 35px;
                        border-radius: $b_radius;
                    }
                }
            }
        }
        .navbar__list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0;
            padding: 0;
            gap: 15px;
            list-style-type: none;
            @include mobile {
                gap: 20px;
                flex-direction: column;
            }
            .navbar__li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                gap: 10px;
                color: #fff;
                cursor: pointer;
                a{
                    font-size: 22px;
                    width: 35px;
                    aspect-ratio: 1/1;
                    border-radius: $b_radius;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    border: 1px solid transparent;
                    @include mobile {
                        aspect-ratio: unset;
                    }
                    &:hover{
                        background-color: $btn_primary;
                        color: $primary;
                        transition: all .3s ease;
                    }
                }
            }
        } 
    }
    .open__lang{
        display: block;
        color: $primary;
        width: 35px;
        aspect-ratio: 1/1;
        cursor: pointer;
        order: 3;
        &:hover{
            height: 90px;   
            margin-top: 55px;
            span{
                background-color: $btn_primary;
            }
            & + .language{
                height: 35px;
                width: fit-content;
                visibility: visible;
                opacity: 1;
                background: $bg_primary;
                padding: 0px;
                margin: 0px;
                border-radius: $b_radius;
                .lang__menu{
                    flex-direction: column;
                    .languaje__li{
                        background-color: $btn_primary;
                        height: 35px;
                        border-radius: $b_radius;
                    }
                }
            }
        }
        span{
            border-radius: $b_radius;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border: 1px solid transparent;
            transition: all .3s ease;
            background-color: transparent;
            height: 35px;
            width: 35px;
            @include mobile {
                background-color: $btn_primary;
            }
            div{
                border-radius: 4px;
                width: 22px;
                height: 22px;
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
                transition: all .3s ease;
            }
            .es{
                background-image: url('/img/flags/es.svg');
            }
            .en{
                background-image: url('/img/flags/gb.svg');
            }
        }
        
    }
    .language{
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        height: 0px;
        width: 0px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 32px;
        top: 65px;
        transition: all 0.3s ease-in-out;
        @include mobile {
            top: 75px;
            right: 15px;
        }
        &:hover{
            height: 35px;
            width: fit-content;
            visibility: visible;
            opacity: 1;
            background: $bg_primary;
            padding: 0px;
            margin: 0px;
            border-radius: $b_radius;
            .lang__menu{
                flex-direction: column;
                .languaje__li{
                    background-color: $btn_primary;
                    height: 35px;
                    border-radius: $b_radius;
                }
            }
        }
        &.opened_lang{
            @include mobile {
                height: 65px;
                width: fit-content;
                visibility: visible;
                opacity: 1;
                background: $bg_primary;
                padding: 15px;
                margin: -15px;
                border-radius: $b_radius;
                .lang__menu{
                    flex-direction: column;
                    .languaje__li{
                        background-color: $btn_primary;
                        height: 35px;
                        border-radius: $b_radius;
                    }
                }
            }
        }
        .lang__menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0;
            padding: 0;
            gap: 15px;
            list-style-type: none;
            @include mobile {
                gap: 20px;
                flex-direction: column;
            }
            .languaje__li {
                display: flex;
                width: 35px;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 10px;
                color: #fff;
                cursor: pointer;
                div{
                    width: 22px;
                    aspect-ratio: 1/1;
                    border-radius: $b_radius;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    border: 1px solid transparent;
                }
                .es{
                    background-image: url('/img/flags/es.svg');
                }
                .en{
                    background-image: url('/img/flags/gb.svg');
                }
            }
        } 
    }
}
